
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.display-flex {
  display: flex;
}
.screen {
  max-width: 1140px;
  margin: 0 auto;
}
.title {
  font-size: 3rem;
  font-weight: 700;
}
.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.btn-primary {
  color: white;
  background-color: rgb(233, 90, 8);
  font-size: 1rem;
  font-weight: 600;
  padding: 19px 80px;
  border: none;
  cursor: pointer;
}
.display-none {
  display: none;
}

/* nav styles */
.navbar {
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.nav-items {
  list-style: none;
  gap: 40px;
}

#nav-link-1 {
  font-weight: 700;
}
#nav-link-2 {
  color: rgba(137, 135, 161, 1);
}

.nav-items a:hover {
  color: #E95A08;
  font-weight: bold;
  transform: translateX(5px);
}


/* hero section styles */
.hero {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}
.hero-title {
  font-size: 4rem;
  font-weight: 700;
}
.hero-title span {
  color: #e95a08;
}

/* our plants section styles */
.our-plants-contents {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
  text-align: center;
}
.our-plants-contents h3 span {
  color: #e95a08;
}
.our-plant-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}
.flower-title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
.flower-subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 25px;
}
.lily-flower-image {
  margin-bottom: 30px;
}

.lily-flower-image button:hover {
  background-color: #45a049;
}

/* flower & plant lover section styles */

.plant-lover {
  align-items: center;
  justify-content: space-between;
  height: 900px;
  gap: 60px;
  overflow: hidden;
}
.plant-contents ul li {
  margin: 20px 0;
}
.plant-contents ul {
  padding-left: 28px;
}
.plant-contents img {
  width: 280px;
  margin-top: -180px;
  margin-left: -200px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.plant-contents img {
  animation: spin 5s linear infinite;
}

/* latest deal styles */

.section {
      padding: 60px 20px;
      max-width: 1200px;
      margin: 10px auto;
    }

    .section h2 {
      text-align: center;
      font-size: 3.12rem;
      font-weight: bold;
    }

    .section h2 span {
      color: #f97316;
    }

    .section p {
      font-size: 1.37rem;
      text-align: center;
      color: #6b7280;
      max-width: 700px;
      margin: 20px auto 40px;
      line-height: 1.6;
    }

    .deals-grid {
      display: grid;
      margin-top: 120px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
    }

    .left-top,
    .left-bottom,
    .right {
      border-radius: 12px;
      background-size: cover;
      background-position: center;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
      position: relative;
    }

    .overlay {
    
      padding: 20px;
      border-radius: 10px;
    }

    .left-top {
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(B12A02-Responsive-Flowers/assets/deal-bloom.png);
       width: 367px;
      height: 200px;
    }

    .left-bottom {
       background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(B12A02-Responsive-Flowers/assets/deal-ana.png);
       
        width: 367px;
      height: 200px;
    }

    .right {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(B12A02-Responsive-Flowers/assets/deal-zabo.png);
       width: 753px;
      height: 420px;
      grid-row: span 2;
    }

    .deal-title {
      font-size: 1.56rem;
      font-weight: bold;
    }

    .shop-btn {
      margin-top: 10px;
      color: white;
      text-decoration: underline;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.25rem;
    }


.join-section {
  background-image: url('B12A02-Responsive-Flowers/assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 120px;
  height: 534px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.overlay h2 {
  font-size: 3.12rem;
  margin-bottom: 23px;
   text-align: center;
  color: white;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
}


 .subscribe-form input {
  padding: 15px 300px 15px 20px;
  font-size: 1rem;
  border: none;
  text-align:left ;
}

.subscribe-form button {
  padding: 8px 50px;
  font-size: 1rem;
  background-color: #E95A08;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.subscribe-form button:hover {
  background-color:#45a049 ;
}

/* footer section styles */

.footer {
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.foot-content {
  height: 180px;
}
.foot-logo {
  margin-bottom: 16px;
}

.foot-links {
  list-style: none;
}

.foot-link {
  margin-bottom: 25px;
}
.foot-link a {
  text-decoration: none;
  color: rgb(107, 114, 128);
  gap: 25px;
   transition: all 0.3s ease;
}

.foot-link a:hover {
  color: #E95A08;
  font-weight: bold;
  transform: translateX(5px);
}

.foot-icon {
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 150px;
}

.foot-icon a:hover {
  transform: scale(1.3);
}









/* Responsive design for mobile screen */

@media screen and (max-width: 576px) {
  /* header section */

  .navbar {
    width: 100%;
    margin: 0 auto;
  }

  .nav-display-none {
    display: none;
  }
  .hero {
    width: 100%;
    flex-wrap: wrap-reverse;
  }

  .hero-image {
    margin-bottom: 20px;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-content {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  #hero-content-paragraph {
    font-size: 1rem;
  }

  .our-plants {
    width: 100%;
  }
  .our-plants-contents {
    width: 100%;
  }

  .our-plants-contents h3 {
    font-size: 1.5rem;
  }
  .our-plants-contents p {
    font-size: 1.2rem;
  }
.our-plants{
  margin-left: 16px;
}
  .our-plant-images {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .lily-flower-image {
    width: 100%;
  }

  .lily-flower-image img {
    width: 100%;
  }
  .lily-flower-image button {
    padding: 5px;
    margin-left: 10px;
  }

  .plant-lover {
    width: 590px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 100px;
  }
  .plant-image img {
    width: 100%;
  }
  .plant-lover h3 {
    margin-left: 20px;
  }
  .plant-contents img {
    display: none;
  }
  .plant-contents h3 {
    font-size: 1.5rem;
  }
  .plant-contents ul {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
  }

  .section {
    width: 100%;
  }
  .right{
    flex-direction: column;
  }
.deal-title .right{
  font-size: 1.25rem;
}


  .deals-grid {
    width: 570px;
    margin: 10px auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: auto;
    gap: 10px;
  }

  .left-top,
  .left-bottom,
  .right {
    width: 550px;  
    height: 200px; 
    grid-row: auto; 
  }

  .deals-grid h3 {
    font-size: 1.5rem;
  }
  .deals-grid p {
    font-size: 1rem;
  }
  .deal-flex {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
  }
  .max {
    width: 367px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .join-section {
    width: 600px;
    height: 275px;
    align-items: center;
    align-content: center;
  }
  .form {
    width: 300px;
    align-items: center;
    flex-direction: row;
  }
  .subscribe-form input {
    width: 250px;
  }

  .footer {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    margin-left: 20px;
  }
}

